//colors
$lightColor: white;
$activeColor: #FD7272;
$bodyColor: #F8EFBA;
$containerColor: #BDC581;
$logoColor: #2C3A47;
$textColor: #2C3A47;

//fonts
$mainFont: 'Maven Pro', sans-serif;
$logoFont: 'Permanent Marker', cursive;

//sizes
$mainSize: 18px;
