//colors
$lightColor: white;
$activeColor: #FD7272;
$bodyColor: #F8EFBA;
$containerColor: #BDC581;
$headColor: rgb(163, 172, 97);
$logoColor: #2C3A47;
$textColor: #2C3A47;
$reverseColor: #FEA47F;
$boxColor: #F97F51;
$barColor: #3B3B98;

//fonts
$mainFont: 'Maven Pro', sans-serif;
$signFont: 'Permanent Marker', cursive;
$logoFont: 'Krona One', sans-serif;

//sizes
$mainSize: 18px;
