@import '../../../styles/global.scss';

.card {
  .container {
    display: flex;
    .image {
      min-width: 400px;
      min-height: 400px;
      background-size: contain;
    }
    .cardContent {
      width: 400px;
    }
    .wishField {
      width: 100%;
    }
  }
  .buttons{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    .addToCart {
      background-color: $activeColor;
      &:hover {
        color: $barColor;
      }
      span {
        font-size: 20px;
      }
      .cartIcon {
        font-size: 30px;
      }
    }
  }
  .quantity {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
  }
}

@media only screen and (max-width: 1279px) {
  .container {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 1023px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
    .cardContent {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .card{
    .container {
      flex-direction: column;
      justify-content: center;
      .image {
        min-width: 250px;
        height: 250px;
        background-size: contain;
      }
      .cardContent {
        width: 100%;
      }
    }
  }
}
