@import '../../../styles/settings.scss';

body {
  background-color: $bodyColor;
  position: relative;
}

.container {
  background-color: $containerColor;
  min-height: 89.5vh;
}

.appBar {
  background-color: $barColor;
}
