@import '../../../styles/settings.scss';

.customization {
  display: block;
}

.quantityButtons {
  margin-left: 10px;
}

.title{
  text-align: center;
}

.background {
  font-family: $mainFont;
  .totalPrice {
    font-size: 16px;
    color: $lightColor;
    text-align: center;
    background-color: $barColor;
    span{
      font-size: 25px;
      color: $containerColor;
    }
  }
}

.buttons{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 10px;
  .addToCart {
    background-color: $activeColor;
    &:hover {
      color: $barColor;
    }
    span {
      font-size: 20px;
    }
    .cartIcon {
      font-size: 30px;
    }
  }
}

